@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark:rgba(255,255,255,0);
  --primary-red:#ef4035;
  --primary-hover-red: #f33501;
  
}

*{
  font-family: 'Roboto', sans-serif;
  font-size: bold;
}

/***********************Navbar*************************/
.logo{
  width: 60px;
  border-radius: 70px;

}

/************************Nav-Links********************/
nav{
  z-index: 2;
}
nav a.nav-link{
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: all 0.3s  ease-in-out;
}

nav ul li{
  /* text-transform: uppercase; */
}
#root{
  background: linear-gradient(
      90deg,
      rgb(237, 238, 238) 0%,
      rgb(212, 254, 255) 100%
    );
}
.navbar-nav>li>a{
  margin-right: 12px;
  margin-left: 12px;
  color:var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.nav-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus{
  border-top:0.1875rem solid var(--primary-red);
}

.navbar-nav>li>a:hover{
  border-top:0.1875rem solid var(--primary-red);
}

/***********************Header*************************/

.header-wraper{
  position: relative;
  background: url(./Frontend/IMG/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/* .btn-main-offer:hover{
  text-decoration: none;
  background-color:var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
} */


.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width:768px)
{
  .main-info h1{
    font-size: 1.5rem !important;
  }
}

/***********************Typed-Text*************************/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}
/* 
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 12px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2rem;
} */

/***********************Paricles JS*************************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100wh;
  z-index: 1;
}


@media(max-width:768px)
{
  .particles-canvas{
    display: none;
  }
} 
/***********************Product*************************/
.dFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
 /* progressbar */
 .progress-9 {    
  --r1: 154%;
  --r2: 68.5%;
  width:60px;
  height:60px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%) center left,
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%) center center,
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%) center right,
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation:p9 1s infinite linear;
}
@keyframes p9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}


  /* progressbar */
.loadingscreen{
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(0, 232, 236) 0%,
    rgb(29, 161, 238) 100%
  );
  position: absolute;
}
 